.wrapper-one {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #92b4f3;
}

.counter-one-btn {
  display: flex;
  margin: 5px;
  padding: 5px;
  font-size: 16px;
  background: rgba(147, 174, 233, 0.21);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(20, 41, 158, 0.35);
  color: #fff;
  /* border: none;
  border-radius: 5px; */
  cursor: pointer;
  transition: 0.4s;
}

.counter-one-btn:hover {
  background: #9cb7f3;
  color: #03092e;
}
