@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto:wght@300;400&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  user-select: none;
  overflow: hidden;
}

.nav-bar {
  display: flex;
  justify-content: center;
  padding: 8px 0 8px 8px;
  min-width: 50vw;
  font-size: 20px;
}

.app__name {
  margin-top: 20px 0 20px 20px;
  padding: 14px 7px 7px 7px;
  text-align: center;
  background-image: linear-gradient(
    -225deg,
    #86e5ff 10%,
    #f7f5eb 50%,
    #1b7a9f 70%,
    #0081c9 100%
  );
  -webkit-text-fill-color: transparent;
  border-radius: 3px;
  color: #fff;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  font-weight: bolder;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  animation: appname 5s linear infinite;
}

@keyframes appname {
  to {
    background-position: 200% center;
  }
}

.app__name .app__name-link {
  text-decoration: none;
  color: #92b4f3;
}

@media screen and (max-width: 350px) {
  .app__name {
    font-size: 16px;
    min-width: 10vw;
    padding: 14px 7px 7px 7px;
  }
}

.nav-link {
  margin: 15px 0 15px 10px;
  border: 2px solid #fff;
  border-radius: 3px;
  border: none;
  min-width: 20vw;
  text-align: center;
}

@media screen and (max-width: 350px) {
  .nav-link {
    font-size: 16px;
    min-width: 10vw;
  }
}

.error-link {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #fff;
}

.main__wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(
    -225deg,
    #caf0f8 10%,
    #0170b1 50%,
    #ade8f4 70%,
    #48cae4 100%
  );
  background-clip: border-box;
  background-size: 300% auto;
  opacity: 0.8;
  animation: mainwrapper 5s linear infinite;
}

@keyframes mainwrapper {
  from {
    background-position: 0% top;
  }
  to {
    background-position: 100% bottom;
  }
}

.wrapper-two {
  background-image: linear-gradient(
    -225deg,
    #0077b6 10%,
    #00b4d8 50%,
    #caf0f8 70%,
    #0170b1 100%
  ) !important;
  background-clip: border-box;
  background-size: 300% auto;
  opacity: 0.8;
  animation: mainwrapper 5s linear infinite;
}

.counter__wrapper {
  display: inline-block;
  position: absolute;
  margin-bottom: 20rem;
  font-family: "Roboto", sans-serif;
  min-width: 60vw;
  background: rgba(147, 174, 233, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(20, 41, 158, 0.35);
}

.counter__wrapper .counter-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 5px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.counter__wrapper .counter-description {
  text-align: center;
  color: #fff;
  line-height: 0;
}

.counter__wrapper .range {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #0f5720;
}

.counter__wrapper .counter-box {
  margin: 30px 0 30px;
  padding: 5px;
  border: none;
  border-radius: 50%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: rgb(116, 113, 109);
}

.counter__two-highlight {
  color: #fff !important;
}

@media screen and (max-width: 350px) {
  .counter-title {
    font-size: 16px;
  }
  .counter-description,
  .range {
    font-size: 14px;
  }

  .counter-box {
    margin: 20px 0 20px;
    padding: 3px;
    font-size: 18px;
  }
}

.counter-btn-wrapper {
  display: flex;
  position: absolute;
  bottom: 55%;
}

@media screen and (max-width: 350px) {
  .counter-btn-wrapper {
    bottom: 60%;
  }
}

.counter-btn-wrapper .counter__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 3px;
  min-width: 5rem;
  font-weight: 500;
  font-size: 18px;
  background: rgba(147, 174, 233, 0.21);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(20, 41, 158, 0.35);
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}

.counter__btn:hover {
  background: #9cb7f3;
  color: #03092e;
}

.counter-btn-wrapper .reset-btn {
  position: relative;
  top: 50%;
  left: 0;
  margin: 5px;
  padding: 5px;
  min-width: 15vw;
  font-size: 16px;
  background: rgba(119, 178, 233, 0.21);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(20, 75, 158, 0.35);
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}

.reset-btn .reset__icon {
  text-align: center;
  color: #03092e;
}

.reset-btn:hover {
  background: #0f57f3;
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}

.reset__icon:hover {
  color: #fff;
}

@media screen and (max-width: 350px) {
  .reset-btn {
    min-width: 10vw;
    font-size: 12px;
  }
}

.set__value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 350px) {
  .set__value {
    margin-top: 5px;
  }
}

.set__value input {
  border-radius: 3px;
  border: none;
  padding: 8px;
  max-width: 5rem;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  margin: 10px;
  overflow: hidden;
}

.set__value button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  min-width: 5rem;
  font-weight: 700;
  font-size: 16px;
  background: rgba(147, 174, 233, 0.21);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(20, 41, 158, 0.35);
  color: #03092e;
  cursor: pointer;
  transition: 0.4s;
}

@media screen and (max-width: 350px) {
  .set__value button {
    min-width: 3rem;
    font-size: 14px;
  }
}

.operation-btn {
  font-size: 22px !important;
}

.error-page {
  margin-bottom: 40px;
  color: #000;
  font-size: 18px !important;
}

.link {
  text-decoration: none;
  margin-left: 15px;
}

.error-bound {
  margin-top: 7.5rem;
}

.error-bound > h2 {
  text-align: center;
}

h2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  width: 60%;
  margin-top: 3rem;
}

@media screen and (max-width: 800px) {
  h2 img {
    width: 90%;
  }

  .error__description {
    font-size: 16px;
  }
}

.error__description {
  text-align: center;
  margin: 5px;
}

p {
  text-align: center;
}

.boundary-test {
  text-align: center;
  margin-top: 150px;
  font-size: 20px;
  font-weight: 600;
}

.count-boundary {
  display: none;
}

.boundary-test-btn {
  max-width: 50vw;
  background: red;
  color: #fff;
  font-size: 22px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.boundary-test-btn:hover {
  transform: scale(1.2);
}
